<form [formGroup]="memberForm">
    <div class="row">
      <div class="col-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="First Name" formControlName="firstName" />
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Last Name" formControlName="lastName" />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Mobile" formControlName="mobileNumber" />
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Home District" formControlName="homeDistrict" />
        </mat-form-field>
      </div>
    </div>
     
    <div class="button-wrapper" align="end">

      <button mat-flat-button color="warn" (click)="cancel()">Cancel</button> &nbsp;
      <button mat-flat-button color="primary" (click)="submit()">Submit</button>
    </div>
  </form>