<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<div class="row">
  <div class="col-4" *ngIf="report">
    <p> Total Expense Tk : {{report.totalExpence |currency:' '}}</p>
    <p> Total Meal : {{report.totalMeal}}</p>
    <p> Meal Rate Tk : {{report.mealRate |currency:' ':'symbol'}}</p>
  </div>
  <div class="col-3">
    <mat-form-field class="example-full-width">
      <input matInput [matDatepicker]="picker" [(ngModel)]="startDate">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="col-3">
    <mat-form-field class="example-full-width">
      <input matInput [matDatepicker]="picker2" [(ngModel)]="endDate">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="col-2" style="padding: 10px;"> <button mat-flat-button color="primary" (click)="submit()">Go</button>
  </div>
</div>

<div class="row" *ngIf="report">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Member</th>
        <th scope="col">Meal</th>
        <th scope="col">Bazar</th>
        <th scope="col">Consume</th>
        <th scope="col">Net Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mr of report.memberReports; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{mr.memberName}}</td>
        <td>{{mr.mealCount}}</td>
        <td>{{mr.expenceAmount |currency:' BDT : ':'symbol':'3.1-1'}}</td>
        <td>{{mr.totalConsume |currency:' BDT : ':'symbol':'3.1-1'}}</td>

        <td>
          <span *ngIf="mr.netAmount<0">
            <button mat-raised-button color="warn">
              Tk :{{mr.netAmount |currency:' ':'symbol':'3.1-1'}}
            </button>
          </span>
          <span *ngIf="mr.netAmount>0 || mr.netAmount==0">
            <button mat-raised-button color="primary">
              Tk :{{mr.netAmount |currency:' ':'symbol':'3.1-1'}}
            </button>
          </span>
        </td>

      </tr>

    </tbody>
  </table>
</div>